#top {
  color: white;
}

#top {
  background-color: #373a42;
  text-align: center;
  margin: 90px 0px 0px 60px;
  width: 1130px;
  padding: 13px;
}
body{
  background-color: #ededed;
}
#boom
  {
    position: absolute;
    top: 180px;
    right: 200px;
}

#ad {
  position: absolute;
  top: 180px;
  left: 110px
}
#shek {
  position: absolute;
  top: 240px;
  left: 110px
}
.text {
  position: absolute;
  top: 240px;
  left: 350px
}
#list {
  font-size: 15px;
  position: absolute;
  top: 230px;
  right: 140px
}
div {
  background-color: #e2e2e2;
  margin: 0px 0px 0px 60px;
  width: 1156px;
  height: 400px;
}
